html{
    zoom: 90%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;
}

/*----------------- ---------------- Scrollbar ---------------- -----------------*/
body::-webkit-scrollbar {
    width: 14px;
}
body::-webkit-scrollbar-thumb {
    background-color: #9808f218;
}
body::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

/*----------------- ----------------- Header ----------------- -----------------*/
header{
    z-index: 3;
    background: linear-gradient(to bottom, #c2afee, rgba(134, 217, 236, 0.442));
    opacity: 85%;
    }
    .logo-container{
        display: flex;
        align-items: center;
        }
        .devLogo{
            margin-left: 9vh;
            cursor: pointer;
        }
        .logo-text{
            margin-left: 1rem;
            cursor: pointer;
        }

    .burger-menu {
        display: contents;
        position: absolute;
        top: 60px;
        right: 10px;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        padding: 10px;
        border-radius: 8px;
        }
        .burger-menu.active {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .burger-menu ul {
            flex-direction: row;
            list-style: none;
            padding: 0;
            margin: 0;
        }
            .burger-menu li{
                display: inline-block;
                text-align: center;
                width: 90px;
            }
            .burger-menu li:last-child{
                margin-right: 6.25vh;
            }
                .burger-menu a{
                    position: relative;
                }
                .burger-menu a:hover::after {
                    transform: scaleY(1);
                }
                .burger-menu a:hover{
                    font-weight: 500;
                    color: #6b46c1;
                    transition: transform 0.3s;
                }
                .burger-menu a::after {
                    content: '';
                    display: block;
                    width: 6px;
                    height: 6px;
                    border-radius: 100%;
                    background-color: #8a2be2;
                    position: absolute;
                    bottom: -10px;
                    left: 50%;
                    transform: translateX(-50%);
                    transform: scaleY(0);
                    transition: transform 0.3s ease;
                }

    .burger-button {
        display: none;
        cursor: pointer;
    }
    .burger-button__line {
        width: 25px;
        height: 3px;
        background-color: #333;
        margin: 5px 0;
    }

/*----------------- ----------------- Home ----------------- -----------------*/
main{
    margin-top: 9vh;
    padding-top: 20vh;
    padding-bottom: 20vh;
    margin-bottom: 1vh;
    scroll-margin-top: 58px;
}

.presentacion{
    margin-top: 8vh;
    cursor: default;
}

.name{
    z-index: 2;
    cursor: default;
}

.text-left{
    margin-left: 12vh;
}

.logotipo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Brush1{
    position: absolute;
    transform: rotate(185deg);
    z-index: 1;
    top: -10px;
    left: -50px
}

.Brush2{
    position: absolute;
    transform: rotate(195deg);
    z-index: 1;
    top: 570px;
    left: 420px
}

@keyframes float {
    0%, 100% {
        transform: translateY(-5px);
    }
    60% {
        transform: translateY(15px);
    }
}

.floating-image {
    animation: float 5s infinite;
}

/*----------------- --------------- About Me --------------- -----------------*/
aside{
    scroll-margin-top: 130px;
    opacity: 85%;
}

.AboutmeContainer1{
    position: sticky;
    margin-left: 10vh;
    margin-right: 10vh;
    margin-bottom: 6vh;
    z-index: 2;
    background: linear-gradient(to bottom, #5e60ce63, #00b4d855);
}

#profile-photo{
    margin-left: 2.5vh;
    margin-top: 0.5vh;
}

#profile-photo:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.carousel {
    display: flex;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
    justify-content: left;
}

.carousel-item {
    flex: 0 0 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel img {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    height: 90vh;
    max-height: 105vh;
    width: auto;
}

.carousel-btn {
    position: absolute;
    top: 27%;
    font-size: 24px;
    color: white;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.20);
    padding: 22vh 6vh 25vh 6vh;
    border: none;
    outline: none;
    opacity: 0.5;
    transition: opacity 0.4s ease;
    margin-left: 3vh;
    margin-right: 3vh;
}

.carousel-btn:hover {
    opacity: 1;
}

.carousel-btn.left {
    left: 20px;
}

.carousel-btn.right {
    right: 20px;
}

.no-scroll {
    overflow: hidden;
}

.AboutmeContainer2 {
    margin-left: 24vh;
    margin-right: 24vh;
    padding-right: 18px;
    background: linear-gradient(to bottom, #1dbaea5f, #8ef0b08a);
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 85%;
}

#skills{
    scroll-margin-top: 220px;
}

#techStack h4{
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

/*----------------- -------------- My Projects -------------- -----------------*/
    section{
    scroll-margin-top: 97px;
}

.contenedorProyecto {
    position: relative;
    overflow: visible;
}

.contenedorProyecto:hover .nombreProyecto {
    transform: scale(1.1);
    text-shadow: 0 0 1px rgba(167, 139, 250, 0.8);
    cursor: pointer;
    color: #6c0fb8;
}

.contenedorProyecto:hover img {
    transform: scale(1.1);
    transition: transform 0.2s ease;
    cursor: pointer;
}

.flechita {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
    margin-top: 15px;
    margin-right: 5px;
    color: #e4dff7;
}

.flechita:hover:after {
    content: 'Github Repo';
    position: absolute;
    top: 125%;
    left: -110%;
    transform: translateX(-50%);
    font-size: 13px;
    background-color: rgba(40, 37, 37, 0.8);
    padding: 4px;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.contenedorProyecto:hover .flechita {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.contenedorProyecto:hover .flechita::after {
    opacity: 1;
    transform: translate(-50%, -5px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/*----------------- -------------- Contact Me -------------- -----------------*/
    #contact{
    scroll-margin-top: 90px;
    background: linear-gradient(to left, #6930c3, #72efdd );
}

.jump-animation {
    opacity: 0;
    transform: translateY(0);
    transition: opacity 1s ease-out, transform 1s ease-out;
    }
    .jump-animation.animate {
        opacity: 1;
        transform: translateY(-20px);
    }

.invitationText{
    text-wrap: pretty;
    margin-right: 3rem;
}

.contactMeForm{
    font-family: 'Arial', sans-serif;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    border-radius: 8px;
    padding: 30px;
    margin-top: 50px;
}

.form-label {
    color: #9077d9;
    padding-bottom: 1vh;
}

.form-input {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    transition: border-color 0.3s;
    }
    .form-input:focus {
        outline: 2.5px solid;
        outline-color: #6d4acf;
    }

.form-button {
    color: #ffffff;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.4s;
}
.form-button:hover {
        background-color: #3760dd;
        border-color: #340a35;
    }

    /*----------------- ---------------- Footer ---------------- -----------------*/
    footer{
    padding-top: 55vh;
    padding-bottom: 55vh;
    background-color: #2C2C2C;
}
.fa-twitter{
    padding-left: 1.5px;
}
.fa-instagram{
    font-size:180%;
    padding-bottom: 0.5px;
}
.fa-whatsapp{
    font-size: 165%;
    padding-bottom: 1.5px;
    padding-left: 1px;
}

/*----------------- ----------------- Mobile Section ----------------- -----------------*/



@media only screen and (max-width: 992px) {
    /*----------------- ----------------- Home ----------------- -----------------*/
    .Brush1{
        top: -20px;
        left: -150px;
        height: 20%;
    }
    .Brush2{
        left: 340px;
        top: 500px;
    }
    .presentacion{
        margin-top: 20px;
    }
        .sitting-dev{
            height: auto;
            width: 80%;
        }
    .py-7{
        padding-top: 1rem;
        margin-bottom: 2rem;
        margin-top: 1.5rem;
    }

    /*----------------- --------------- About Me --------------- -----------------*/
    #profile-photo{
        margin-top: 1.2rem;
    }

    /*Educational*/
    .AboutmeContainer2{
        flex: auto;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-inline: 15vh;
    }

        /*Tech Stack*/
        #techStack{
            order: 1;
            flex-wrap: wrap;
            align-items: center;
            padding-top: 5%;
            width: 90%;
            }
            #techStack h4{
                width: 100%;
                display: block;
                margin-bottom: 5%;
                transform: scale(1.1);
                }
            .techStack-content{
                display: flex;
                flex-wrap: wrap;
                }
            .techItem {
                margin-bottom: 25px;
                margin-inline: 2px;
                }
                .techItem img{
                    margin-bottom: 10px;
                    margin-inline: 10px;
                }

        /*Studies*/
        #studies{
            order: 2;
            width: 100%;
            text-align: center;
            padding-top: 0%;
            }
            #studies h4{
                transform: scale(1.1);
                margin-right: 1rem;
            }
            #studies ul{
                margin-left: 0;
                display: flex;
                text-align: center;
                justify-content: space-evenly;
                align-items: center;
            }

    /*----------------- -------------- My Projects -------------- -----------------*/
    section{
        max-width: fit-content;
    }
    .contenedorProyecto{
        height: 200px;
    }
    .contenedorProyecto img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    #proyectosContainer{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 12px;
        column-gap: 16px;
    }
    .nombreProyecto{
        margin-top: 15px;
    }
    .proyectoDescripcion {
        margin-top: 50px;
    }
    .card{
        width: 100%;
    }
    .contenedorProyecto {
        height: 200px;
    }
    .contenedorProyecto img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .proyectoDescripcion {
        margin-bottom: 10px;
    }
    .nombreProyecto {
        margin-bottom: 5px;
    }
    .flechita {
        width: auto;
        height: auto;
        background-color: #8f77d9ab;
        border-radius: 25%;
        margin-top: 5%;
        margin-right: 2.5%;
        padding: 14px;
    }

    /*----------------- -------------- Contact Me -------------- -----------------*/
    #contact{
        margin-top: 0rem;
        height: fit-content;
        margin-top: 6vh;
    }
        #contact h1, #contact h2, #contact p{
            transform: scale(0.8);
            margin-left: 0%;
        }
        .contactMeForm div{
            height: fit-content !important;
        }
    .contact-form{
        padding: 0%;
        margin-bottom: 6vh;
        margin-top: 10vh;
    }
        .contact-form h2{
            margin-bottom: -7.5%;
        }
        #contactForm{
            transform: scale(0.8);
        }
        #contactForm button{
            margin-bottom: 0%;
        }
}



@media screen and (max-width: 500px) {
    html{
        overflow-x: auto;
        overflow-y: auto;
    }
    /*----------------- ----------------- Header ----------------- -----------------*/
    header {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        opacity: 90%;
        }
        .devLogo {
            margin-left: 0%;
        }
        .devLogo p{
            white-space: none;
        }

    /*Burger Button*/
    .burger-button {
        display:block;
    }
    .burger-button__line {
        width: 25px;
        height: 3px;
        background-color: #333;
        margin: 5px 0;
    }

    /*Burger Menu*/
    .burger-menu {
        display: none;
        position: absolute;
        top: 12vh;
        right: 10px;
        background: linear-gradient(to bottom, #5e60ce95, #00b4d891);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        padding: 10px;
        border-radius: 8px;
    }
    .burger-menu.active {
        display: flex;
        position: fixed;
        padding-inline: 0vh;
        flex-direction: column;
        justify-content: center;
        border: 1px solid #6f2dbd;
        align-items: center;
        height: 30vh;
        width: 65vw;
    }
    
    .burger-menu ul {
        flex-direction: column;
        list-style: none;
        padding: 0;
        margin: 0;
        }
        .burger-menu li{
            display: inline-block;
            text-align: center;
            line-height: 3.5vh;
            border-bottom: 2px groove #702dbd71;
            padding-inline: 80px;
            border-radius: 1%;
            padding-bottom: 8px;
            margin-bottom: 8px;
            width: 100%;
        }
        .burger-menu li:last-child{
            margin-right: 0vh;
            border-bottom: 0px;
        }
        .burger-menu li a{
            width: 100%;
            color: #333333;
            text-shadow: 0 1px 2px #8fa5fb;
            padding-bottom: 10px;
            box-sizing: border-box;
            font-weight: 500;
        }
        .burger-menu a::after {
            content: '';
            display: block;
            width: 6px;
            height: 6px;
            border-radius: 100%;
            background-color: #8a2be2;
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
            transform: scaleY(0);
            transition: transform 0.3s ease;
        }
    
    .burger-button.active ~ .burger-menu {
        display: flex;
        justify-content: center;
    }

    /*----------------- ----------------- Home ----------------- -----------------*/
    .Brush1{
        top: -5vh;
        left: -18vh;
        height: 25%;
    }
    .Brush2{
        transform: scaleX(-1);
        rotate: 125deg;
        left: -20vh;
        top: 128vh;
    }
    .mainInnerContainer{
        flex-direction: column-reverse !important;
    }

    /*Gran Imagen*/
    .logotipo{
        order: 2;
        margin-top: 4vh;
        }
        .sitting-dev{
            height: auto;
            max-width: 80%;
        }
    
    /*Presentación*/
    .presentacion{
        margin-left: 0vh;
        order: 1;
        margin-top: 0;
        text-align: center !important;
        }
        .social-pills{
            justify-content: center;
        }

    /*----------------- --------------- About Me --------------- -----------------*/
    #about {
        opacity: 90%;
        margin-inline: 1vh;
        border-radius: 5% !important;
        }
        #profile-photo{
            text-align: center;
            margin-top: 5%;
        }
        .text{
            margin-left: 10%;
        }
        .text p{
            justify-content: pretty;
            margin-right: 0%;
        }

    .carousel img{
        height: auto;
        width: 40vh;
    }
    .carousel-btn-container {
        rotate: 90deg;
        }
        .carousel-btn.left{
            margin-left: -375px;
        }
        .carousel-btn.right{
            margin-right: -375px;
        }

    /*Educational*/
    .AboutmeContainer2 {
        width: 96%;
        margin-inline: 1vh;
        border-radius: 5%;
        flex-wrap: wrap;
        flex-direction: column;
        padding-right: 0%;
    }
        /*Tech Stack*/
        #techStack{
            order: 1;
            flex-wrap: wrap;
            align-items: center;
            padding-top: 8%;
            width: 90%;
            }
            #techStack h4{
                width: 100%;
                display: block;
                margin-bottom: 25px;
                }
            .techStack-content{
                display: flex;
                flex-wrap: wrap;
                }
            .techItem {
                margin-bottom: 25px;
                margin-inline: 2px;
                }
                .techItem img{
                    margin-bottom: 10px;
                    margin-inline: 10px;
                }
        /*Studies*/
        #studies{
            order: 2;
            width: 100%;
            text-align: center;
            padding-top: 0%;
            }
            #studies h4{
                margin-right: 1rem;
            }
            #studies ul{
                margin-left: 0;
                display: inline-block;
                text-align: center;
            }

    /*----------------- -------------- My Projects -------------- -----------------*/
    #proyectosContainer{
        column-gap: 10px;
        width: 85%;
        height: 85%;
        margin-left: -5%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    #projects{
        padding-bottom: 4vh;
    }

    /*----------------- -------------- Contact Me -------------- -----------------*/
    .contact-form h2{
        margin-top: 0px;
    }
    .form-input{
        margin-bottom: 0.5rem;
    }
    #contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }
        /*Hey There!*/
        .HEY{
            width: 80% !important;
            margin-top: 7.5%;
            margin-left: 0%;
            text-align: center;
            }
            .HEY h1, .HEY p{
                text-align: center;
                margin-left: 0%;
            }
            .HEY h1{
                margin-bottom: 1%;
                white-space: nowrap;
            }
            .invitationText{
                width: 100%;
                margin-right: 0rem;
                margin-bottom: 12%;
            }
        /*Form*/
        .contactMeForm{
            width: 100% !important;
            transform: scale(0.85);
            margin-top: -12%;
            }
            .contactMeForm div{
                height: auto;
            }
            .contact-form h2{
                margin-bottom: 0%;
                transform: scale(1.5);
            }

    /*----------------- ---------------- Footer ---------------- -----------------*/
    footer
    .social-pills-2{
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-left: 10%;
    }
    .social-pills-2 div{
        order: 2;
        margin-right: 1%;
        margin-top: 5%;
    }
    .social-pills-2 a{
        margin-top: 5%;
        order: 1;
    }
    footer div p{
        margin-top: 2.5%;
    }
}
