html{
    zoom: 90%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;
}

/*Scrollbar ------------------------------------------------------------*/
body::-webkit-scrollbar {
    width: 14px;
}

body::-webkit-scrollbar-thumb {
    background-color: #9808f218;
}

body::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

/*Navbar ---------------------------------------------------------------*/
header{
    z-index: 3;
    background: linear-gradient(to bottom, #d4c7f3, #ccf2fb86);
}

.logo-container{
    display: flex;
    align-items: center;
}

.devLogo{
    margin-left: 9vh;
    cursor: pointer;
}

.logo-text{
    font-size: 1.75rem;
    margin-left: 1rem;
    cursor: pointer;
}

nav{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

/*Main -----------------------------------------------------------------*/
main{
    margin-top: 9vh;
    padding-top: 20vh;
    padding-bottom: 20vh;
    margin-bottom: 1vh;
    scroll-margin-top: 58px;
}

.presentacion{
    margin-top: 8vh;
    cursor: default;
}

.name{
    z-index: 2;
    cursor: default;
}

.text-left{
    margin-left: 12vh;
}

.logotipo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Brush1{
    position: absolute;
    transform: rotate(185deg);
    z-index: 1;
    top: -10px;
    left: -50px
}

.Brush2{
    position: absolute;
    transform: rotate(195deg);
    z-index: 1;
    top: 570px;
    left: 420px
}

@keyframes float {
    0%, 100% {
        transform: translateY(-5px);
    }
    60% {
        transform: translateY(15px);
    }
}

.floating-image {
    animation: float 5s infinite;
}

/*Aside ---------------------------------------------------------------*/
aside{
    scroll-margin-top: 160px;
}

.AboutmeContainer1{
    position: sticky;
    margin-left: 10vh;
    margin-right: 10vh;
    margin-bottom: 6vh;
    z-index: 2;
    background: linear-gradient(to bottom, #5e60ce63, #00b4d855);
}

#profile-photo{
    margin-left: 2.5vh;
    margin-top: 0.5vh;
}

#profile-photo:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.carousel {
    display: flex;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
    justify-content: left;
}

.carousel-item {
    flex: 0 0 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel img {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    height: 90vh;
    max-height: 105vh;
    width: auto;
}

.carousel-btn {
    position: absolute;
    top: 27%;
    font-size: 24px;
    color: white;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.20);
    padding: 22vh 6vh 25vh 6vh;
    border: none;
    outline: none;
    opacity: 0.5;
    transition: opacity 0.4s ease;
    margin-left: 3vh;
    margin-right: 3vh;
}

.carousel-btn:hover {
    opacity: 1;
}

.carousel-btn.left {
    left: 20px;
}

.carousel-btn.right {
    right: 20px;
}

.no-scroll {
    overflow: hidden;
}

.AboutmeContainer2 {
    margin-left: 24vh;
    margin-right: 24vh;
    padding-right: 18px;
    background: linear-gradient(to bottom, #1dbaea5f, #8ef0b08a);
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 97%;
}

#techStack h4{
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

/*Section ------------------------------------------------------------*/
section{
    scroll-margin-top: 97px;
}

.contenedorProyecto {
    position: relative;
    overflow: visible;
}

.contenedorProyecto:hover .nombreProyecto {
    transform: scale(1.1);
    text-shadow: 0 0 1px rgba(167, 139, 250, 0.8);
    cursor: pointer;
    color: #6c0fb8;
}

.contenedorProyecto:hover img {
    transform: scale(1.1);
    transition: transform 0.2s ease;
    cursor: pointer;
}

.flechita {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
    margin-top: 15px;
    margin-right: 5px;
    color: #e4dff7;
}

.flechita:hover:after {
    content: 'Github Repo';
    position: absolute;
    top: 125%;
    left: -110%;
    transform: translateX(-50%);
    font-size: 13px;
    background-color: rgba(40, 37, 37, 0.8);
    padding: 4px;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.contenedorProyecto:hover .flechita {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.contenedorProyecto:hover .flechita::after {
    opacity: 1;
    transform: translate(-50%, -5px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/*Contact form ------------------------------------------------------------*/
#contact{
    scroll-margin-top: 90px;
    background: linear-gradient(to left, #6930c3, #72efdd );
}

.jump-animation {
    opacity: 0;
    transform: translateY(0);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.jump-animation.animate {
    opacity: 1;
    transform: translateY(-20px);
}

.invitationText{
    text-wrap: pretty;
    margin-right: 3rem;
}

.contactMeForm{
    font-family: 'Arial', sans-serif;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    border-radius: 8px;
    padding: 30px;
    margin-top: 50px;
}

.form-label {
    color: #9077d9;
    padding-bottom: 1vh;
}

.form-input {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    transition: border-color 0.3s;
}

.form-input:focus {
    outline: 2.5px solid;
    outline-color: #6d4acf;
}

.form-button {
    color: #ffffff;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.4s;
}

.form-button:hover {
    background-color: #3760dd;
    border-color: #340a35;
}

/*Footer ------------------------------------------------------------*/
footer{
    padding-top: 55vh;
    padding-bottom: 55vh;
    background-color: #2C2C2C;
}

.fa-twitter{
    padding-left: 1.5px;
}

.fa-instagram{
    font-size:180%;
    padding-bottom: 0.5px;
}

.fa-whatsapp{
    font-size: 165%;
    padding-bottom: 1.5px;
    padding-left: 1px;
}

/*---------------------------------------------------------------------------------*/
/*----------------------------- MOBILE SECTION ------------------------------------*/
/*---------------------------------------------------------------------------------*/

@media (max-width: 992px) {
/*Home -------------------------------------------------------*/
    .Brush1{
        top: -20px;
        left: -150px;
        height: 25%;
    }
    .Brush2{
        left: 300px;
        top: 490px;
    }
    .presentacion{
        margin-top: 20px;
    }
    .sitting-dev{
        height: auto;
        width: 80%;
    }
    .py-7{
        padding-top: 1rem;
        margin-bottom: 2rem;
        margin-top: 1.5rem;
    }
    #profile-photo{
        margin-top: 1.2rem;
    }
    .AboutmeContainer2{
        flex: auto;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    #techStack{
        align-items: center;
        justify-content: space-between;
        margin-top: 2.5%;
        width: 95%;
    }
    #studies {
        width: 100%;
        align-items: center;
        margin-bottom: 2.5%;
    }
    #studies h4{
        margin-left: 0;
    }
    #studies ul{
        margin-right: 0;
        align-items: center;
    }
    #studies li{
        margin-right: 2rem;
        margin-top: 0;
        align-items: center;
    }
    section{
        max-width: fit-content;
    }
    .contenedorProyecto{
        height: 200px;
    }
    .contenedorProyecto img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    #proyectosContainer{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 12px;
        column-gap: 16px;
    }
    .nombreProyecto{
        margin-top: 15px;
    }
    .proyectoDescripcion {
        margin-top: 50px;
    }
    .card{
        width: 100%;
    }
    .contenedorProyecto {
        height: 200px;
    }
    .contenedorProyecto img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .proyectoDescripcion {
        margin-bottom: 10px;
    }
    .nombreProyecto {
        margin-bottom: 5px;
    }
    .flechita {
        width: auto;
        height: auto;
        background-color: #8f77d9ab;
        border-radius: 25%;
        margin-top: 5%;
        margin-right: 2.5%;
        padding: 14px;
    }
    contact-form{
        margin-top: 0;
        height: 80%;
    }
}

@media (max-width: 768px) {
/*Navbar -------------------------------------------------------*/
    .devLogo{
        margin-left: 5vh;
    }
    .logo-text{
        transform: scale(0.8);
        white-space: nowrap;
        margin-left: 0%;
    }
    nav{
        padding-right: 0%;
        transform: scale(0.9);
        margin-right: -2%;
    }
    .burger-menu li {
        width: 75px;
    }

/*Home -------------------------------------------------------*/
    .Brush1{
        top: -10px;
    }
    .Brush2{
        top: 390px;
        left: 350px;
        transform: scale(0.9);
        rotate: 195deg;
    }
    .presentacion{
        transform: scale(0.8);
        margin-top: 7.5%;
        margin-left: 2%;
    }
    .presentacionSpan :first-child{
        margin-top: 1%;
    }
    .sitting-dev{
        transform: scale(0.9);
        margin-right: 200%;
    }
    .presentacion h1{
        white-space: nowrap;
        margin-bottom: 0%;
    }
    .presentacion h2{
        margin-top: -5%;
        line-height: 2.3;
    }
    .sitting-dev{
        margin-top: 8%;
        margin-right: 18%;
        height: auto;
        width: 105%;
    }

/*About ------------------------------------------------------*/
    #about{
        padding-top: 0%;
        padding-bottom: 1.75%;
        align-items: center;
        margin-left: 5%;
        margin-right: 5%;
        padding-left: 0%;
        padding-right: 0%;
        opacity: 97%;
    }
    #profile-photo{
        margin-top: 0%;
        margin-left: 5%;
    }
    #profile-photo img{
        margin-bottom: 0%;
    }
    #about .text{
        transform: scale(0.8);
        margin-left: 0%;
    }

/*About 2.0 --------------------------------------------------*/
    .AboutmeContainer2{
        width: 85%;
        text-align: center;
        align-items: center;
        padding-right: 0px;
        margin-left: 8vh;
    }
    #techStack{
        justify-content: center;
        transform: scale(0.9);
        width: 100%;
        padding-bottom: 0%;
    }
    #techStack h4{
        white-space: nowrap;
        margin-right: 2%;
    }
    #techStack div{
        margin-left: 2.5%;
    }
    #studies{
        padding-top: 0%;
        margin-bottom: 0;
    }
    #studies h4{
        margin-bottom: 2.5%;
    }

/*Projects --------------------------------------------------*/
    #projects{
        transform: scale(0.8);
        padding: 0%;
        margin-top: 0rem;
    }

/*Contact me ------------------------------------------------*/
    #contact{
        margin-top: 0rem;
        height:fit-content;
        margin-bottom: 10vh;
    }
        #contact h1, #contact h2, #contact p{
            transform: scale(0.8);
            margin-left: 0%;
        }
        .container .h-screen{
            height:fit-content;
        }
    .contact-form{
        padding: 0%;
    }
        .contact-form h2{
            margin-bottom: -7.5%;
        }
        #contactForm{
            transform: scale(0.8);
        }
        #contactForm button{
            margin-bottom: 0%;
        }

/*Footer --------------------------------------------------*/
    footer div{
        transform: scale(0.9);
    }
    .p-8{
        padding: 1.25rem;
    }
}

    .burger-menu {
        display:contents;
        position: absolute;
        top: 60px;
        right: 10px;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        padding: 10px;
        border-radius: 8px;
    }

    .burger-menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .burger-menu ul {
        flex-direction: row;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .burger-menu li{
        display: inline-block;
        text-align: center;
        width: 90px;
    }

    .burger-menu li:last-child{
        margin-right: 6.25vh;
    }

    .burger-menu a{
        position: relative;
    }

    .burger-menu a:hover{
        font-weight: 500;
        color: #6b46c1;
        transition: transform 0.3s;
    }

    .burger-menu a::after {
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 100%;
        background-color: #8a2be2;
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        transform: scaleY(0);
        transition: transform 0.3s ease;
    }

    .burger-menu a:hover::after {
        transform: scaleY(1);
    }

    .burger-button {
        display: none;
        cursor: pointer;
    }

    .burger-button__line {
        width: 25px;
        height: 3px;
        background-color: #333;
        margin: 5px 0;
}

@media (max-width: 576px) {
    /*Navbar -------------------------------------------------------*/
    header{
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
    }
    .logo-container{
        margin-left: 3.5%;
    }
    .devLogo{
        margin-left: 0%;
    }
    .logo-text{
        text-align: left;
    }
    .burger-menu {
        background: linear-gradient(to top, #b8d0eb, #ddfff7db);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1000;
        width: 100%;
        height: 1%;
        display: none;
        position: fixed;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
        .burger-menu.active {
            display: contents;
            flex-direction: column;
            padding-inline: 0vh;
            width: 65vh;
            height: 60vh;
            top: 40vh;
            left: 26vh;
            border: 1px solid #6f2dbd;
        }
        .burger-menu ul{
            flex-direction: column;
        }
        .burger-menu li {
            line-height: 5vh;
            border-bottom: 2px groove #702dbd71;
            padding-inline: 100px;
            border-radius: 1%;
            padding-bottom: 8px;
            margin-bottom: 8px;
            width: 100%;
        }
        .burger-menu li a {
            width: 100%;
            color: #333333;
            padding-bottom: 10px;
            box-sizing: border-box;
            font-weight: 500;
        }
        .burger-menu li:first-child{
            padding-top: 2.5%;
        }
        .burger-menu li:last-child{
            margin-right: 0px;
            border-bottom: 0px;
        }
    
    .burger-button {
        display: block;
        margin-right: 5%;
    }
    .burger-button.active ~ .burger-menu {
        display: flex;
        justify-content: center;
    }
    

    /*Home ---------------------------------------------------------*/
    .Brush1{
        opacity: 90%;
        left: -20%;
    }
    .Brush2{
        left: 395px;
        top: 520px;
        opacity: 90%;
    }
    .mainInnerContainer{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .logotipo{
        order: 1;
        width: 100%;
        margin-bottom: 0rem !important;
    }
        .sitting-dev{
            margin: 0;
            max-width: 55%;
            top: 3.5%;
        }
    .presentacion{
        width: 100%;
        margin-top: 3%;
        margin-left: 0;
        order: 2;
        text-align: center;
    }
        .presentacion h1{
            margin-top: 0;
            margin-bottom: 2.5%;
            margin-left: 0%;
            margin-right: 9%;
            text-align: end;
        }
        .presentacion h2{
            margin-top: 0%;
            margin-right: 10%;
            line-height: 1.5;
            text-align: right;
        }
        .presentacion-h2__1{
            margin-right: 4%;
            margin-bottom: 5%;
        }
        .social-pills{
            margin-top: 0%;
            margin-left: 8.5%;
        }

    /*About --------------------------------------------------------*/
    aside{
        transform: scale(0.9);
    }
        #about{
            margin-inline: -4%
        }
        #profile-photo{
            margin-left: 7%;
        }
        .text{
            margin-top: 3%;
        }
            .text p{
                margin-bottom: 3%;
            }

    /*About 2.0 ----------------------------------------------------*/
    .AboutmeContainer2{
        transform: scale(0.8);
        margin-inline: -16%;    
        width: fit-content;
        padding-inline: 3vh;
    }
    #techStack{
        transform: scale(1);
        padding-inline: 0;
        margin-bottom: 4%;
        margin-top: 4%;
    }
    #studies h4{
        transform: scale(1.1);
        margin-bottom: 3%;
    }

    /*Projects -----------------------------------------------------*/
    section{
        transform: scale(0.9);
        margin-bottom: 5%;
        padding: 0;
    }
    .subtitle{
        margin-bottom: 12%;
    }
    .mt-8{
        margin-top: 0%;
    }
    #projects{
        margin-bottom: 0;
    }
    #proyectosContainer{
        row-gap: 50px;
        column-gap: 0px;
    }
    .card{
        display: contents;
    }
    .contenedorProyecto img{
        width: 90%;
        height: 85%;
    }
    .proyectoDescripcion{
        text-align: left;
        margin-bottom: 11%;
        margin-top: 0%;
        margin-left: 3%;
        display: flex;
        align-items: center;
    }

    /*Contact me ---------------------------------------------------*/
    .contact-form h2{
        margin-top: 0px;
    }
    .form-input{
        margin-bottom: 0.5rem;
    }
    #contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }
    .HEY{
        width: 75%;
        margin-top: 5%;
    }
        .HEY h1, .HEY p{
            text-align: center;
        }
        .HEY h1{
            margin-bottom: 1%;
        }
        .HEY p{
            margin-right: 0%;
            margin-bottom: 10%;
        }
    .container{
        width: 100%;
        transform: scale(0.85);
        margin-top: -7.5%;
    }
    .contact-form h2{
        margin-bottom: 1px;
    }
    /*Footer -------------------------------------------------------*/
    footer a{
        white-space: nowrap;
    }
}
@media (max-width: 360px) {
    .burger-menu.active {
        display: contents;
        flex-direction: column;
        padding-inline: 0vh;
        width: 65vh;
        height: 60vh;
        top: 40vh;
        left: 4.5vh;
        border: 1px solid #6f2dbd;
    }
    .logo-container{
        transform: scale(0.8);
        margin-left: -5px;
    }
    .burger-button{
        transform: scale(0.8);
        margin-top: 1px;
    }

    /*Home */
    #home{
        padding-bottom: 0%;
    }
    .Brush1{
        margin-left: -15px;
    }
    .Brush2{
        top: 560px;
        left: 140px;
    }
    .logotipo{
        margin-top: 20px;
    }
    .presentacion h1{
        margin-left: -28px;
    }
    .presentacion h2{
        place-items: center;
        white-space: nowrap;
        margin-left: -6.5%;
    }
    .presentacion-h2__1{
        margin-left: 0%;
    }
    .presentacionSpan{
        display: flex;
        flex-wrap: wrap;
    }
    .social-pills{
        margin-top: 20px;
        margin-left: 50px;
    }
    /*About*/
    #about{
        border-radius: 4%;
        opacity: 97% !important;
    }
    .AboutmeContainer2{
        display: flex;
        width: 100%;
        margin-inline: 0.25px;
    }
    #techStack{
        flex-wrap: wrap;
        margin-bottom: 0%;
    }
    #techStack h4{
        width: 100%;
        display: block;
        margin-bottom: 25px;
        margin-right: 0%;
    }
    .techStack-content{
        display: flex;
        flex-wrap: wrap;
    }
    .techItem {
        margin-bottom: 25px;
    }
    .techItem img{
        margin-bottom: 10px;
        margin-inline: 10px;
    }
    #studies h4{
        margin-bottom: 20px;
    }
    #studies{
        margin-right: 0;
    }
    #studies ul li{
        margin-right: 0rem;
    }
    /*Projects*/
    #proyectosContainer{
        column-gap: 10px;
        width: 110%;
        margin-left: -5%;
    }
    .flechita{
        margin-top: 12%;
        margin-right: 22%;
    }
    .nombreProyecto{
        margin-left: -5%;
    }
    /*Contact Form*/
    .HEY{
        margin-top: 10%;
        white-space: none;
        margin-bottom: 15px;
        width: 100% !important;
    }
    .container{
        width: 95% !important;
    }
    .HEY p{
        margin-bottom: 0%;
    }
    /*Footer*/
    .social-pills-2{
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-left: 10%;
    }
    .social-pills-2 div{
        order: 2;
        margin-right: -5%;
        margin-top: 5%;
    }
    .social-pills-2 a{
        margin-top: 5%;
        order: 1;
    }
    footer div p{
        margin-top: 2.5%;
    }
}